@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgDark: '#212121',
  --regButton: '#24AC18E5',
  --siderGray: '#868585',
  --primary: '#24AC18',
  --directoryFolder: '#001E02',
  --userFolder: '#BDFF9DE5',
  --colorHover: '#0F460A',
  --popup: '#171717',
  --translate: '#111111'
}

body {
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #353131;
}

/* End Scrollbar */
