@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: '#212121';
  --reg-button: '#24AC18E5';
  --sider-gray: '#868585';
  --primary: '#24AC18';
  --directory-folder: '#001E02';
  --user-folder: '#BDFF9DE5';
  --color-hover: '#0F460A';
  --popup: '#171717';
  --translate: '#111111';
}

body {
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #353131;
}

/* End Scrollbar */

/* custom swiper */
.swiper-slide {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.custom-prev,
.custom-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 69px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .custom-prev,
  .custom-next {
    width: 30px;
    height: 30px;
  }
}
