.button_add_word_translate {
  height: 36px;
  padding: 0.625rem 1.6875rem;
  background-color: #171717;
  border: 1px solid #272727;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1rem;
}

@media (max-width: 576px) {
  .button_add_word_translate {
    font-size: 0.75rem;
    padding: 0.625rem 1.125rem;
  }
}
