.label_translation{
  display: block;
  margin-bottom: 0.5rem;
  color: #cfcfcf;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .label_translation{
    font-size: 12px;
    margin-bottom: 1rem;
  }
}