/* customize select arrow */
.selectCategory {
  appearance: none;
  background-image: url('assets/dropdown_arrow.svg');
  background-repeat: no-repeat;
  background-position: right calc(0.625rem + 10px) center;
  background-size: 10px;
}

.selectCategory option {
  background: #001e02;
}

@media (max-width: 768px) {
  .selectCategory {
    background-position: right calc(0rem + 10px) center;
    background-size: 5px;
  }
}
