.flashcard {
  padding: 1.25rem;
  padding-bottom: 2.5rem;
  background-color: var(--card-learning-bg);
  border-radius: 1.25rem;
  width: 100%;
  max-width: 894px;
  margin-left: auto;
  margin-right: auto;
}

.flashcard__content {
  text-align: center;
  margin-top: 96px;
}

.flashcard__title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 500;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.flashcard__subtitle {
  color: #7F7F7F;
  font-size: 0.75rem; /* 12px */
}
