.InfoPublicFolder_title{
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
}

.InfoPublicFolder_group{
  width: 30.625rem;
  margin-top: 2.5rem;
}

.buttonContainerClass{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .InfoPublicFolder_title{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .InfoPublicFolder_group{
    width: 100%;
  }
}