.languageSelector {
  position: absolute;
  right: 1.125rem;
  top: 0.625rem;
}

.languageSelector__button {
  padding: 0.3125rem 1.3125rem;
  border: 0.0625rem solid #868585;
  border-radius: 0.625rem;
  cursor: pointer;
  color: #868585;
  background: transparent;
}

.languageSelector__popup {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.625rem 0.3125rem;
  background: #171717; /* Màu nền của popup */
  width: 14.5rem;
  height: 6.625rem;
  overflow-y: scroll;
  border-radius: 0.625rem;
}

.languageSelector__popupGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
}

.languageSelector__item {
  padding: 0.225rem 0.3125rem;
  font-size: 0.75rem;
  background: #111;
  border-radius: 0.4375rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.languageSelector__item:hover {
  background: #414141;
}

@media (max-width: 768px) {
  .languageSelector__button {
    padding: 0.1875rem 0.875rem;
    font-size: 0.75rem;
  }
  .languageSelector__popupGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .languageSelector__popup {
    padding: 15px 10px;
  }
}
